<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>web 大字报</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="js/run.js"></script>
</head>

<body>
  <div id="app">
    <div class="set-box" v-if="!runBox">
      <!-- 使用说明 -->

      <p class="explain-btn bor-box">
        <el-button type="primary" icon="el-icon-question" @click="explainDialog = true">使用说明</el-button>

      </p>
      <p class="textarea-box bor-box">
        <el-input type="textarea" minlength="3" maxlength="77" @input="textareaChange" placeholder="请输入内容（3-77）" v-model="textarea">
        </el-input>
        <span>{{77 - textarea.length}}</span>
      </p>

      <div class="color-select bor-box">
        <div>
          <p class="bor-box bor-box-bottom">请选择字体颜色</p>
          <el-color-picker @active-change="textColorChange" v-model="textColor"></el-color-picker>
        </div>
        <div>
          <p class="bor-box bor-box-bottom">请选择背景颜色</p>
          <el-color-picker @active-change="bgColorChange" v-model="bgColor"></el-color-picker>
        </div>
      </div>

      <div class="bor-box run-speed">
        <p class="">设置滚动速度</p>
        <el-slider :min="minspeed" :max="maxspeed" v-model="speed"></el-slider>
      </div>

      <p class="explain-btn bor-box">
        <el-button type="warning" icon="el-icon-info" @click="moresetDialog = true">更多设置</el-button>
        <el-button type="success" :disabled="begin" @click="runBox = true">开始</el-button>
      </p>

    </div>

    <div v-else class="run-box" @click="closerunbox">
      <run-box :runtext="textarea" :fontsizes="fontsizes" :runspeed="speed" :textcolors="textColor" :bgcolors="bgColor"></run-box>
    </div>



    <!-- 弹框 all -->
    <el-dialog title="Web大字报 V1.0" :visible.sync="explainDialog" width="80%">
      <p class="explain-text">
        <i class="el-icon-caret-right"></i> 在文本框里输入想要展示的文字</p>
      <p class="explain-text">
        <i class="el-icon-caret-right"></i> 选择文字颜色和背景色</p>
      <p class="explain-text">
        <i class="el-icon-caret-right"></i> 选择滚动格式（开发中）</p>
      <p class="explain-text">
        <i class="el-icon-caret-right"></i> 点击开始</p>
      <p class="explain-text">
        <i class="el-icon-caret-right"></i> 点两次画面关闭</p>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="explainDialog = false">知道了</el-button>
      </span>
    </el-dialog>

    <el-dialog title="更多的设置项" :visible.sync="moresetDialog" width="80%">
      <h3>开发中...</h3>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="moresetDialog = false">完成</el-button>
      </span>
    </el-dialog>
  </div>



</body>

<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/index.js"></script>

</html>