/* 通用样式 */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #333333;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
.p0{
  padding: 0 !important;
}
p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.set-box {
  height: 100%;
}

/* 使用说明 */

.explain-btn {
  text-align: center;
}

.el-textarea {
  height: 100%;
}

.bor-box {
  box-sizing: border-box;
  padding: 5% 5% 0 5%;
  width: 100%;
}

.bor-box-bottom {
  padding: 0 0 10% 0;
}

.color-select {
  overflow: hidden;
}

.color-select>div {
  text-align: center;
  float: left;
  width: 50%;
}

.run-speed {
  padding: 5% 10% 0 10%;
}

.run-speed p {
  text-align: center;
}

.textarea-box {
  position: relative;
  height: 30%;
}
.run-box{
  width: 100%;
  height: 100%;
}
.textarea-box >span{
  font-size: 30px;
  position: absolute;
  bottom: 3px;
  right: 7%;
  color: #888888;
  text-shadow: 1px 2px 4px #ffffff;
}

.textarea-box textarea {
  font-size: 16px;
  resize: none;
  width: 100%;
  height: 100%;
}
.explain-text{
  padding-bottom: 8px;
}
.explain-text>i {
  color: #409EFF;
}

.test {
  width: 100vh;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  background-color: pink;
}